h2 {
    text-align: center;
    color: #333;
}
.contato-item {
    margin: 20px 0;
    font-size: 18px;
}
.contato-item strong {
    display: block;
    color: #555;
}
.icon {
    margin-right: 10px;
    color: #4CAF50;
}
form > *{
    width: 800px;
}