
h1, h2{
    text-align: center;
}
h1{
    font-size: 50px;
}
div.pag1{
    height: 400px;
    display: flex; 
    justify-content: space-evenly
}
div.pag1 > div > *{
    color: #ffffff;
}
div.pag1 > div > p, div.pag1 > div > pre{
    text-align: center; 
    font-size: 25px; 
    margin-top: 80px;
}
div.pag1 > div{
    background-color: #792b39;
    border-radius: 15px;
    width: 300px
}
h2{
    font-size: 40px;
}
a{
    color: aqua;
}