*{
    margin-top: 0px;
}
input{
    text-align: center;
}
body{
    background-color: #eea4a3;
    text-align: center;
    margin: 0;
}
footer{
    background-color: #792b39;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer > *{
    color: #ffffff;
    text-align: center;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #792b39
}
header > h1{
    color: #ffffff; 
    margin: 0 10px;
}
header > nav > *{
    color: #ffffff; 
    text-decoration: none;
    margin: 0 5px;
}
header > nav > a:hover{
    text-decoration: underline;
}
.hlcart{
    display: inline;
    background-color: #792b39;
    border: #792b39;
    color: #ffffff; 
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}
.hlcart:hover{
    text-decoration: underline;
    cursor: pointer;
}